<%- include('../partials/header') %>
<h3>User Profile</h3>
<div>
  <% if(isMyUser) { %>
  <a href="/users/edit">Edit Profile</a>
  <% }%>
</div>
<ul>
  <li><%= user.username %></li>
  <li><%= user.name %></li>
  <li><%= user.email %></li>
</ul>
<%- include('../partials/footer') %>
